@import "tailwindcss";

@font-face {
  font-family: 'The Bold Font';
  src: url('/THEBOLDFONT-FREEVERSION.otf') format('opentype'),
       url('/THEBOLDFONT-FREEVERSION.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; /* Adjust to your navbar height */
}

body {

   background-color: #ffffff15;
 
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-the-bold-font {
  font-family: 'The Bold Font', sans-serif;
}

